
.component-menubar {
    position: fixed;
    top: 40px;
    left: 400px;
    z-index: 100;

    .menu-groups {
        float: left;

        margin: 0px;
        padding: 0px;
        border: 0;
    }
    .menu-group {
        float: left;
        list-style-type: none;
        position:relative;
        margin: 0px 4px;
        .btn {
            margin: 0;
            padding: 3px 8px;
            border: 0;
            width: 100%;
            cursor:default;
        }
    }

    .menu {
        margin: 0px;
        padding: 0px;
        border: 0;
        position: absolute;
        top: 99%;
        display: none;
        list-style: none;
        color: @menu-color;
        background: @menu-background;
        cursor: default;
        z-index: 101;

        .menu-item {
            min-width: 200px;

            .item-label {
                display: block;
                padding: 3px 8px;
                width: 100%;
            }

            &:hover > .item-label {
                color: @menu-item-active-color;
                background: @menu-item-active-background;
            }
        
        }



    }



    .menu.show {
        display: block;
    }


    .type-menu {
        position: relative;
        &:hover > .menu {
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
        }

        >.item-label::after {
            display:block;
            content:" ";
            float:right;
            width:0;
            height:0;
            border-color:transparent;
            border-style:solid;
            border-width:5px 0 5px 5px;
            border-left-color:#cccccc;
            position:absolute;
            right:8px;
            top:8px;
        }
    }

    .open {

        color: @menu-color;
        background: @menu-background;

    }


}
