
.component-menubar {
    position: fixed;
    top: 40px;
    left: 400px;
    z-index: 100;
    height: 100px;

    span {
        display: block;
    }
    li:hover > span {
        background-color: #aaa;
        color: #fff;
    }
    span:active {
        background-color: #aaa;
        color: #fff;
    }
    .menu-groups {
        float: left;
    }
    .menu-group {
        height: 26px;
        float: left;
        list-style-type: none;
        position:relative;
    }

    .menu {
        margin: 0px;
        padding: 0px;
        background: @menu-background;
        border: 1px solid @menu-border-color;
        color: @menu-color;
        cursor: default;
        position: absolute;
        top: 100%;
        min-width: 200px;
        display: none;
        list-style: none;

    }

    .menu.show {
        display: block;
    }


    .type-menu {
        position: relative;
        &:hover > .menu {
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
        }
    }

    .open {

        background: @menu-background;
        color: @menu-color;


    }


}
